@tailwind base;
@tailwind components;
@tailwind utilities;


#slider-boxes {
    display: flex !important;
}

.slick-arrow::before{
    color:burlywood;
    font-size: 50px;
}
.slick-slide div {
    margin: 10px;
}